IDD_ANGLE_LEFT_16   RCDATA  "angle-left-16.png"
IDD_ANGLE_LEFT_32   RCDATA  "angle-left-32.png"
IDD_ANGLE_LEFT_64   RCDATA  "angle-left-64.png"
IDD_ANGLE_RIGHT_16  RCDATA  "angle-right-16.png"
IDD_ANGLE_RIGHT_32  RCDATA  "angle-right-32.png"
IDD_ANGLE_RIGHT_64  RCDATA  "angle-right-64.png"
IDD_SHARE_16        RCDATA  "share-16.png"
IDD_SHARE_32        RCDATA  "share-32.png"
IDD_SHARE_64        RCDATA  "share-64.png"
